body {
    padding-top: 20px;
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section{
	width: 100%;
}

.jumbotron{
	background-color: #375e91;
	padding-top: 1%;
	padding-bottom: 2%;
	opacity: 0.95;
}

.heading{
	padding-top: 0.25%;
}

.section{
    border-style: solid;
    background-color: rgb(216, 209, 209);
    opacity: 0.95;
    font-weight: 600;
    padding: 5px;
}

h3{
    background-color: #375e91;
    color: #ffff;
    font-weight: bold;
    padding: 2px;
}

.btn{
    background-color: #375e91;
	color: #ffff;
}

th, td {
    text-align: center;
}
